body{
  background: url('books2.jpeg') no-repeat fixed center;
  background-size: cover;
}

h2{
  /*margin-left: 60px;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

a {
  color: black;
  font-size: 17px;
}

textarea{
  width: 400px;
  height: 300px;
}
/*#log-button{
  margin-left: 60px;
}

#public_categoryList{
  margin-left: 60px;
}*/

.container{
  margin-left: 70px;
}

.a-category{
  font-size: 15px;
  margin-left: 25px;
}

#summary-public, #summary{
  width: 33%;
}

#button{
  margin-left: 20px;
}

.delete{
  font-size: 30px;
}

.logPage{
  margin-left: 4%;
}
