{% extends "main.html" %}
{% block content %}
		<h1> Book Description</h1>
		<br/>
		<p>Title: {{bookSelected.title}}</p>
		<p>Author: {{bookSelected.author}}</p>
		<p>Description: {{bookSelected.description}}</p>
		<p>Category: {{bookSelected.category_name}}</p>
		</br>
		{% if user == bookSelected.user_id%}
			<a href="{{url_for('editBook', book_for_edit= bookSelected.title)}}"><p>Edit</p></a>
			<a href="{{url_for('deleteBook', book_to_delete= bookSelected.title)}}"><p>Delete</p></a>
		{% endif %}

{% endblock %}