{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-6">
			</br>
			<a href = "{{url_for('gdisconnect')}}"><button class="btn btn-primary" id="button">Log Out</button></br></a>
			</br>
			<a href="{{url_for('newBook')}}" ><button class="btn btn-info" id="button"><h5>Create a New Book Summary</h5></button></a>
			</br>
			</br>
			{% for category in categories %}
				{% if category.id%2 %}
					<a href = "{{url_for('selectedCategoryList', category_name=category.name)}}" class="a-category">{{category.name}}</a>
					</br>
					</br>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-md-6">
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			{% for category in categories %}
				{% if category.id%2 == 0 %}
					<a href = "{{url_for('selectedCategoryList', category_name=category.name)}}" class="a-category">{{category.name}}</a>
					</br>
					</br>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}