<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
		</style>
	</head>
		<h1>Adding New Book</h1>
		<div class='pane'>
				<form action="#" method = 'post'>
				<dl>	
					<dt>Title: </dt>
						<dd><input type = 'text' size='50' name='title'></dd>
					<dt>Author: </dt>
						<dd><input type = 'text' size='50' name='author'></dd>
					<dt>Description: </dt>
						<dd><input type = 'text' size='250' name='description'></dd>
				</dl>

				<p>Category:</p>
					<input type ='radio'  name='category' value ='Sci-Fi'>Sci-Fi</br>
					<input type ='radio'  name='category' value ='Trilogy'>Trilogy</br>
					<input type ='radio' name='category' value ='Poetry'>Poetry</br>
					<input type ='radio'  name='category' value ='Horror'>Horror</br>
				</br>
				<input type='submit' value='Submit'>
				</form>
			</div>
	<body>
	</body>
</html>