{% extends "main.html" %}
{% block content %}
		<h1>Adding New Book Synopsis</h1>
		<a href="{{url_for('bookList')}}"><button class="btn btn-danger">Cancel</button></a>
		</br>
		</br>
		<div class='row'>
			<form action="#" method = 'post'>
				<div class="col-md-6">
					<label>
						<div id="label-title">Title:</div>
						</br>
						<input type='text' name='title'>
						</br>
					</label>
					</br>
					</br>

					<label>
						<div id="label-author">Author:</div>
						</br>
						<input type='text' name='author'>
						</br>
					</label>
					</br>
					</br>
					<label>
						<div id="label-description">Summary:</div>
						</br>
						<textarea name='description'></textarea>
						</br>
					</label>
					</br>
					<button type='submit' class="btn btn-success">Submit</button>
				</div>

				<div class="col-md-6">
					<p class="text-center">Category:</p>
					</br>
					{% for category in categories %}
						<input type='radio' name='category' value='{{category.name}}'>{{category.name}}</br>
					{% endfor %}
				</div>	
			</form>
		</div>
{% endblock %}