{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-6">
			</br>
			<a href = "{{url_for('showLogin')}}"><button class="btn btn-primary">Log In</button></a>
			</br>
			<h1 id="book-synopsis">Book Summary</h1>
			</br>
			<p>Title: {{bookSelected.title}}</p>
			</br>
			<p>Author: {{bookSelected.author}}</p>
			</br>
			<p>Category: {{bookSelected.category_name}}</p>
		</div>

		<div class="col-md-6" id="summary-public">
			</br>
			<p class="text-center">Summary:</p>
			</br> 
			<p>{{bookSelected.description}}</p>
		</div>
		
	</div>	
{% endblock %}